* {
    font-family: 'STIX Two Text', serif;
}

nav {
    height: 100px;
}

input, button {
    width: 100px;
    height: 25px;
    margin-top: 5px;

}

.brand-logo {
    margin: 25px;
}

#orBreak {
    margin-top: 10px;

}

#rightText {
    border: 20px;
    border-color: black;
}

